.aside-menu
	margin-top 10px
	display inline-block
	width 30%

	&__link
		margin-top 2px
		padding-left 20px
		width 100%
		display inline-block
		line-height 45px
		text-decoration none
		color #000
		font-weight 600
		text-transform uppercase
		background-color #f6f6f6

		&:hover
			background-color #7caaba
