mixin aside-menu(data)
	+b.aside-menu
		+e('ul').list
			each item in data
				+e('li').item
					+e(a).link(href=item.link)= item.title

		#GMI_240x90-2_ru.gm-info
			div(style="position:relative;width:240px;height:90px;border:solid 1px;background:#F5F5F5;border-color:#EAEAEA #E4E4E4 #DDDDDD #E6E6E6;border-radius:4px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;")
				a(style="font:11px/13px Arial,Verdana,sans-serif;text-align:center;text-overflow:ellipsis;text-decoration:none;display:block;overflow:hidden;margin:2px 3px;color:#0678CD;" href="//gismeteo.ru/weather-kursk-5010/") Курск
				a(style="font:9px/11px Tahoma,Arial,sans-serif;letter-spacing:0.5px;text-align:center;text-decoration:none;position:absolute;bottom:3px;left:0;width:100%;color:#333;" href="//gismeteo.ru")
					span(style="color:#0099FF;") Gis
						span meteo
		script.
			(function() {
				var
					d = this.document,
					o = this.navigator.userAgent.match(/MSIE (6|7|8)/) ? true : false,
					s = d.createElement('script');

				s.src  = '//www.gismeteo.ru/informers/simple/install/';
				s.type = 'text/javascript';
				s[(o ? 'defer' : 'async')] = true;
				s[(o ? 'onreadystatechange' : 'onload')] = function() {
					try {new GmI({
						slug : '71d7a452d10fc1b4089ff0bceb79ee65',
						type : '240x90-2',
						city : '5010',
						lang : 'ru'
					})} catch (e) {}
				}

				d.body.appendChild(s);
			})();
