include ../blocks/aside/aside-menu
include ../blocks/wrapper/wrapper
include ../blocks/main-slider/main-slider
include ../blocks/title/title
include ../blocks/news/news
include ../blocks/content/content
include ../blocks/post-preview/post-preview
extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'Курский совет депутатов';

block content
	-dataMenu = getData('aside-menu')

	+wrapper()
		+main-slider()
		+wrapper()
			+aside-menu(dataMenu)
			+content()
				+title()
					| История создания совета
					+b.post
						+e('img').img(src='assets/images/history/2.jpg' width='380px')
						+e('p').text
							| В июне 2006 года создана и функционирует до настоящего времени общественная организация
							| «Общественный совет депутатов города Курска», которая является добровольная, самоуправляемым,
							| основанном на членстве ,общественным объединением граждан города Курска, избиравшихся на его
							| территории в разных уровнях власти или работавших в структуре органов власти, созданным для
							| реализации поставленных целей и задач, в соответствие действующим законодательством, где основными
							| целями являются:
						+e('p').text
							| &mdash; поиск и осуществление решений, направленных на всесторонние
							| улучшения жизни граждан города Курска;
						+e('p').text
							| &mdash; содействие формирования правового гражданского общества;
						+e('p').text
							| &mdash; налаживание взаимодействия общественности с органами власти,
							| всемирное содействие обеспечению конституционных прав и свобод граждан;
						+e('p').text
							| &mdash; привлечение к решению насущных проблем и вопросов развития
							| города лиц, имеющих знание и опыт практической работы.
						+e('p').text
							| Для реализации поставленных целей «Организация» решает следующие задачи:
						+e('p').text
							| &mdash; развитие межнациональных , межрегиональных и международных связей;
						+e('p').text
							| &mdash; осуществления общественного анализа и общественных правовых активов органов власти
							| и местного самоуправления, проектов и решений других организаций, связанных с жизнедеятельностью
							| города, осуществление общественного контроля за их деятельностью и оказание помощи в решение
							| значимых задач и проблем
						+e('p').text
							| &mdash; изучение и анализ общественного мнения жителей города и различных вопросов
							| общественной жизни, на основе которых предлагается  внесение предложений в органы
							| власти местного самоуправления и другие заинтересованные структуры.
						+e('img').img(src='assets/images/history/1.jpg' width='460px')
