include ../blocks/aside/aside-menu
include ../blocks/wrapper/wrapper
include ../blocks/main-slider/main-slider
include ../blocks/title/title
include ../blocks/news/news
include ../blocks/content/content
include ../blocks/post-preview/post-preview
extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'Курский совет депутатов';

block content
	-dataMenu = getData('aside-menu')

	+wrapper()
		+main-slider()
		+wrapper()
			+aside-menu(dataMenu)
			+content()
				+title()
					| Забота - это сострадание или рационализм?
					+b.post
						+e('p').text
							| На днях состоялось очередное заседание нашего Общественного Совета. Повестка дня – проблемы,
							| связанные с реабилитацией и социальной адаптацией детей-инвалидов в городе Курске и Курской области.
						+e('img').img(src='assets/images/post/post2-1.jpg' width='300px')
						+e('p').text
							| Заседание получилось расширенное, потому что, кроме членов Совета, в его работе приняли
							| участие родители, имеющие таких детей, и представители практически всех
							| государственных, муниципальных и иных структур и организаций, имеющих отношение
							| к этой части нашей жизни. Также были приглашены врачи-педиатры, заведующие
							| медицинских учреждений, преподаватели и руководители кафедр нашего медицинского
							| университета, даже один академик, работники культуры и искусства, представитель
							| Курской епархии и депутаты разных уровней.
						+e('p').text
							| Сначала член нашего совета Богданова Людмила Васильевна вкратце напомнила нам
							| (т.к. весной у нас уже было заседание совета на эту тему) и озвучила для  наших
							| гостей основные разделы достаточно объёмного доклада по этому вопросу, который она,
							| совместно с Алешиной Ириной Сергеевной, готовили для заседания
							| Общественной палаты Курской области.
						+e('p').text
							| В этом докладе, кроме общего исследования вопроса, представлено изменение и развитие
							| законодательной базы в хронологическом порядке, начиная с советских времен.
						+e('p').text
							| Не знаю, может быть, потому что мне и моей семье повезло в этой жизни,
							| и у нас не было и нет инвалидов, то эта тема для меня стала шокирующее откровенной.
						+e('p').text
							| Так устроен человек – он подсознательно старается оградить себя от негатива.
							| Но как же быть с совестью и с состраданием? Они говорят, что ты не имеешь права
							| прятать голову в песок. Ну, хорошо, ты решил, что не можешь стоять в стороне,
							| а что же надо делать, как помочь?
						+e('p').text
							| Беда в том, что если человек инвалид, а особенно если это ребенок,
							| то практически любая из привычных и обычных сторон нашей жизни для него представляет проблему.
						+e('p').text
							| Такая «широта» проблемы отразилась на дальнейших выступлениях приглашенных чиновников
							| и специалистов. Причем некоторые выступления, в частности академика РАЕН Кириченко
							| Юрия Николаевича, были очень эмоциональны, но, правда, и очень содержательны.
							| Были и очень резкие высказывания и споры, как правило, между чиновниками и представителями
							| общественности или специалистами.
						+e('p').text
							| Я впервые узнал шокирующие факты и цифры, такие как:
						+e('p').text
							| В Курской области с населением порядка 1,3 миллиона человек 134 тысячи инвалидов, т.е.
							| каждый десятый! А сколько детей-инвалидов - никто точно не знает, по одним данным 4 тысячи, по другим – 8!
						+e('img').img(src='assets/images/post/post2-2.jpg' width='400px')
						+e('p').text
							| В Российской Федерации Курская область стоит на первом месте (с конца) по количеству детей-инвалидов
							| по умственному развитию и на 6-м месте по количеству детей-инвалидов среди
							| всех субъектов Российской Федерации!
						+e('p').text
							| Из-за нечеткости и неоднозначности законодательства и из-за «широты» проблемы каждая
							| из государственных и муниципальных структур и каждое из общественных, культурных
							| и других объединений решает встающие
							| перед ним проблемы по-своему, нет никакой координации действий и очень часто нет логики в этих действиях.
						+e('p').text
							| Нередко встречаются семьи, которые не хотят лечить своих детей-инвалидов, т.к.
							| родители боятся, что  потеряют источник дохода, если их детей вылечат.
						+e('p').text
							| Существует страшная дилемма: стоит ли тратить деньги на выхаживание недоношенных
							| детей, родившихся с весом порядка 500 г. (т.к. в большинстве случаев из них все равно
							| вырастают  инвалиды, требующие ухода и заботы всю оставшуюся жизнь и не приносящие
							| ничего обществу, или потратить эти средства на активное лечение и
							| восстановление других инвалидов или больных,  которых, при своевременном
							| лечении, можно  вернуть к полноценной жизни.
						+e('p').text
							| Как в сегодняшних условиях экономического кризиса и дефицита бюджета на 2015г.
							| (Курск – 0,5 млрд. руб., область – 3,5 млрд. руб.) «сохранить человеческое лицо»
							| и хотя бы оставить те, скажем прямо, далеко недостаточные, но так необходимые для
							| таких детей льготы и материальные выплаты? Как объединить разрозненные усилия всех,
							| кто по долгу службы или по велению души занимается этим вопросом
							| и как в результате хотя бы стабилизировать ситуацию, уж не говоря о том,
							| чтобы её улучшить или решить кардинально?
						+e('p').text
							| Но, оказывается, есть и положительные факты, характеризующие наш город и нашу область
							| в этом вопросе. Из выступления председателя общества глухонемых Кочергиса Александра
							| Витасовича мы узнали о достижениях наших граждан с ограниченными возможностями – это
							| чемпион мира по армреслингу, чемпион Европы по греко-римской борьбе, это 25 медалей
							| разного достоинства за год. Причём у меня сложилось мнение, что одной из главных причин
							| достижения ребятами высоких результатов стали не созданные государством и обществом
							| условия жизни и развития, а невероятная и страстная преданность своему делу некоторых
							| наших горожан, таких  как Александр Витасович. Т.е., как  часто бывает,
							| некоторые вещи у нас существуют не «благодаря», а «вопреки» и на голом энтузиазме. Снимаю шляпу перед этими людьми!
						+e('p').text
							| Наверное, потому что проблем огромное количество, и они касаются совершенно разных сторон
							| жизни таких детей, то и продолжительность Совета была существенна. Представитель
							| медицинского университета, доктор психологических наук, зав. кафедрой общей и клинической
							| психологии Василенко Татьяна Дмитриевна, получив слово через полтора часа после начала
							| Совета, с упреком в адрес предыдущих выступающих сказала, что мы потеряли зря эти полтора часа, т.к. ничего
							| конструктивного предложено не было. Но, по правде говоря, в её выступлении я так же не заметил конструктивизма.
						+e('p').text
							| Завершился Совет решением ходатайствовать перед губернатором о создании координационного органа, который
							| объединит разрозненные усилия и родителей, и всех структур, организаций и объединений, занимающихся этим вопросом.
						+e('p').text
							| На этом Совете я не брал слово,
							| т.к. очень мало разбираюсь в поставленной теме, но все равно у меня осталось чувство неудовлетворенности.
						+e('p').text
							| Да, денег у нас немного; да, специальных спортивных сооружений, бассейнов, соляриев и других
							| буржуазных прибабахов негусто; да,
							| живем мы по большей части не в огромных коттеджах со стрижеными газонами, но разве это главное, ведь это наши дети!
						+e('p').text
							| Почему при монастырях и молельных домах создаются такие помещения и выделяются особые
							| люди, к которым в любой момент можно привести таких детей, просто для общения - для них
							| это великое дело. Вы хоть раз видели, чтобы такого ребенка привели
							| в Дом культуры или Дом пионеров, уж не говоря о всевозможных публичных мероприятиях в административных учреждениях?
						+e('p').text
							| Почему среди казаков, живущих на Кубани и в бассейнах рек Дона и Волги, практически
							| во всех общественных мероприятиях участвуют и дети-инвалиды?
						+e('p').text
							| Наверное, потому что и священнослужители, и казаки знают цену состраданию и знают, что все мы «под богом»;
							| как говорят – не зарекайся, сегодня ты здоров, а завтра – упал кирпич на голову или снаряд с Украины и привет!
						+e('p').text
							| Наверное, что-то сломалось в нашем сегодняшнем обществе после 74 лет ощущения себя винтиками
							| на великой стройке коммунизма (ведь бракованный винтик никому не нужен) и почти 24 лет
							| ощущения разделения общества надвое, где одни являются частью бюрократической машины,
							| которая ничего не производит и ни к чему не стремится и только потребляет доставшиеся
							| ей по рангу блага, полученные за счет нефтяной и газовой трубы. Какое тут сострадание?
							| Тут бы растолкать всех локтями и побольше урвать сейчас, потому что неизвестно,
							| как завтра сложится и будет ли завтра такая же лафа. А вторая часть нашего общества
							| сама выживает из последних сил- как говорится, «не до жиру, быть бы живу».
						+e('p').text
							| Так что же делать, как остаться людьми, которые не только потребляют или выживают, а и
							| проявляют реальную заботу, реальное сострадание, выраженное в конкретных делах,  в конкретных поступках?
						+e('p').text
							| Вы, мой читатель, можете сказать: « А чем ты лучше других? Что ты конкретно сделал или хот
							| я бы предложил сделать?» Да, Вы правы, но не совсем. Я считаю, что каждый должен
							| заниматься своим делом. И если я недостаточно компетентен, то и не должен лезть со своими
							| советами, но я могу озвучить эту проблему с помощью СМИ, призвав максимальное количество
							| других людей, в том числе и компетентных, чтобы они приложили максимум усилий в нахождении
							| пути для решения проблемы. А потом сказали мне, что надо делать, и я буду выполнять их решение.
						+e('p').text
							| Поэтому написание этой статьи я считаю, хоть и небольшим, но конструктивным и необходимым делом.
						+e('p').text
							| Хотя, конечно, я преувеличиваю. Причем я это делаю умышленно, для того, чтобы возмутить
							| Вас, мой читатель, вывести из состояния обреченности и сонного равнодушия и втянуть в спор.
						+e('p').text
							| И может быть, тогда и заседание Совета и моя статья не будут бесполезны.


						+e('img').img(src='assets/images/post/post2-3.jpg' width='400px')

