include ../blocks/aside/aside-menu
include ../blocks/wrapper/wrapper
include ../blocks/main-slider/main-slider
include ../blocks/title/title
include ../blocks/news/news
include ../blocks/content/content
include ../blocks/post-preview/post-preview
extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'Курский совет депутатов';

block content
	-dataMenu = getData('aside-menu')

	+wrapper()
		+main-slider()
		+wrapper()
			+aside-menu(dataMenu)
			+content()
				+title()
					| Продать родину
					+b.post
						+e('p').text
							| Старшее поколение помнит фильм Эльдара Рязанова «Гараж»,
							| где один из персонажей сказал: «Я за гараж Родину продал!». Он имел в виду радиоприемник.
						+e('img').img(src='assets/images/post/post1-1.jpg' width='300px')
						+e('p').text
							| Сейчас радиоприемником не обойдешься. Стоимость гаража в нашем Курске – запредельная.
							| Поэтому получение на него права, то ли через куплю - продажу то ли с помощью
							| строительства, с последующей государственной регистрацией права,
							| можно приравнять к глобальным задачам мужчины на  этом свете. Посадить дерево,
							| построить дом и родить ребенка – получается мало, надо еще и построить гараж!
						+e('p').text
							| Казалось бы, в чем проблема? Что такого сложного или дорогого в этом объекте?
							| Почему он имеет особый статус у нас в России,
							| и почему в других странах этого нет? Я имею в виду, что не гаражей нет,
							| а ажиотажа вокруг них.
						+e('p').text
							| Если Вам интересно моё мнение, почему так происходит и что с этим делать – то вот оно.
						+e('p').text
							| Когда-то в конце 80-х или в начале 90-х по телевидению проходили так называемые телемосты.
							| Наши граждане общались напрямую с гражданами США. Темой одного из таких «мостов» было
							| проведение выходных в обычной семье. И когда одна  из наших женщин сказала, что практически
							| все выходные её муж проводит в гараже, то потом в течение получаса все наши женщины
							| пытались объяснить американкам, что же там делают наши мужчины и почему для них это важно.
							| Так американки и не поняли. Видимо, слишком уж мы разные, да и уровень жизни разный!
						+e('p').text
							| Попробую пояснить.
						+e('p').text
							| Гараж для нас, советских или российских мужчин – это не только, как и во всем мире,
							| возможность хранить и ремонтировать свой автомобиль,
							| это нечто совсем другое – это статусный объект! Если ты не имеешь гаража – ты неполноценный мужчина!
						+e('img').img(src='assets/images/post/post1-2.jpg' width='400px')
						+e('p').text
							| Кто и где тебя утешит, если тебя уволили с работы или бросила любовница,
							| если ты пришёл домой немного подшофе и тебя жена выставила за дверь,
							| или просто все достали – и работа, и семья? Пойдешь к психотерапевту или в кабак?
							| У нас так не принято. Мужская психотерапия у нас возможна только в гаражах!
							| Там и только там тебе посочувствуют, успокоят, нальют и спать уложат на недельку-другую.
						+e('p').text
							| Ну а если серьёзно?
						+e('p').text
							| Мы уже привыкли, что существенную часть городского пейзажа составляют гаражи.
							| Если за границей их почему-то не видно, то у нас, куда ни глянь, одни гаражи!
							| Причем,  возникает такое впечатление, что при их строительстве или изготовлении
							| трудились лучшие художники-авангардисты или импрессионисты, да и расположены они
							| в таких местах, где их категорически не должно быть. Ладно, если это всего лишь
							| транспортные развязки или природоохранные зоны, предназначенные для отдыха населения,
							| а часто это места с расположенными рядом энергетическими или другими крайне опасными
							| объектами и сооружениями. Очень часто они стоят на действующих подземных коммуникациях.
							| Как-то на ул. Орловской я был свидетелем последствий прорыва напорной фекальной
							| канализации, сверху на которой стояла пара десятков незаконных гаражей. По счастливой
							| случайности, рвануло между гаражами, поэтому никто не пострадал,
							| и только окружающий пейзаж приобрёл другие цветовые оттенки и другой запах.
						+e('p').text
							| В советское время, до 70-х годов, иметь личную машину было не по карману обычному человеку,
							| да и общественное мнение складывалось не в пользу владельцев автомобилей, т.к.
							| их подозревали в получении нетрудовых доходов. Только в 80-х стремление граждан иметь свой
							| автомобиль стало реализовываться и приобрело массовый характер. Тогда же и стали строиться
							| гаражи. Поначалу все было очень строго. Администрация города очень серьезно и ответственно подходила
							| к этому вопросу, да и граждане были законопослушны. Но с начала 90-х администрация
							| ослабила контроль, и граждане не преминули этим воспользоваться – стали, на свой страх
							| и риск, пристраиваться к существующим ГСК, выходя за границы отведенных земельных участков,
							| или вообще устанавливать и даже строить гаражи без разрешения. Прошло 25 лет, и мы видим результат!
						+e('p').text
							| Хорошо, скажете Вы, все это мы и так знаем, но что же с этим делать, как решить эту проблему?
						+e('p').text
							| А выход только один – навести порядок!  Да, мы, русские, не очень любим это слово,
							| но, положа руку на сердце, признайтесь – без него еще хуже.
						+e('p').text
							| Если отвлечься от привычного стереотипа – мы и они, т.е. противопоставления
							| желаний обычных граждан действиям администрации города, то приходишь к выводу что,
							| по большому счету, незаконный гараж –
							| это вызов отдельного гражданина другим таким же гражданам, которым он мешает жить в своем городе.
						+e('p').text
							| С другой стороны, если гараж никому не мешает, то почему бы не дать возможность
							| гражданину зарегистрировать на него право и пользоваться им на законных основаниях,
							| да к тому же и платить налоги? Что в этом плохого?
						+e('p').text
							| Недавно, глава нашего города Германова Ольга Михайловна, попросила меня
							| помочь ей разобраться с этой проблемой, поскольку подобные объекты, а также
							| правомочность землепользования, давно являются частью моей профессии.
							| Чтобы выполнить её просьбу я подготовил перечень мероприятий и последовательность
							| действий для решения проблемы и предоставил их для обсуждения на Общественном Совете депутатов города Курска.
						+e('p').text
							| В процессе обсуждения члены нашего Совета назвали их гаражной амнистией.
							| Пусть так, а почему бы и нет?
						+e('p').text
							| Не буду вдаваться в подробности, касающиеся правовых и процедурных препятствий на этом пути,
							| они все прописаны в наших рекомендациях,
							| но также там прописаны и способы их решения при наличии воли. Озвучу только основные принципы
						+e('img').img(src='assets/images/post/post1-3.jpg' width='400px')

						+e('p').text.post__text_strong Гаражной амнистии:
						+e('p').text
							| 1. Создать компетентную комиссию при департаменте архитектуры или
							| земельном комитете  города, которая будет заниматься вопросом выявления
							| подобных объектов, а также принимать заявления от граждан, которые сами хотят узаконить
							| свои гаражи и, внимание, не принимать решение, а готовить материал для публичных слушаний.
						+e('p').text
							| 2. Проводить публичные слушанья и по их результатам принимать решение о сносе или о
							| предоставлении права, может быть, при условии переноса или смещения одного или
							| нескольких гаражей из группы
							| (если будут положительные решения, то люди сами будут обращаться в комиссию с заявлениями).
						+e('p').text
							| 3.  Жестко контролировать выполнение принятого решения (если о сносе – то в суд,
							| если об оформлении – то без проволочек).
						+e('p').text.post__text_indent
							| Согласитесь, пора, наконец, последовать примеру Экзюпери и, как его
							| Маленький принц, привести в порядок «свою планету», я имею в виду свой город!

