.post-preview
	padding-top 20px
	padding-left 18px
	padding-bottom 30px
	border-bottom 2px solid #d76258

	&__title
		margin-bottom 10px
		font-weight 600

	&__text
		margin-bottom 10px
		font-size 14px
		font-style italic

	&__data
		text-align right
