mixin news()
	+b('article').news
		+e.box
			+e.box-title
				| Курск против терроризма
			+e('img').box-img(src='assets/images/news/news1.jpg')
			+e.box-info
				| Часть Курской области на сутки была объявлена
				| зоной контртеррористической операции (фото)
			+e('a').box-link.js-description(href=jv0) Подробнее
		+e.box
			+e.box-title
				| Курск против терроризма
			+e('img').box-img(src='assets/images/news/news1.jpg')
			+e.box-info
				| Часть Курской области на сутки была объявлена
				| зоной контртеррористической операции (фото)
			+e('a').box-link.js-description(href=jv0) Подробнее
		+e.box
			+e.box-title
				| Курск против терроризма
			+e('img').box-img(src='assets/images/news/news1.jpg')
			+e.box-info
				| Часть Курской области на сутки была объявлена
				| зоной контртеррористической операции (фото)
			+e('a').box-link.js-description(href=jv0) Подробнее
		+e.wrapper
			+e.content.js-content
				+e.content-description
					| Вчерашний день на территории Суджанского района
					| Курской области получился очень напряжённым.
					| Всё началось с того, что неподалёку от государственной
					| границы Российской Федерации, в посёлке
					| Гуево, на первом этаже недостроенного детского сада, полицейский обнаружил четырёх вооружённых мужчин
				+e.content-text
					| Практически сразу после необычайной находки южная часть Суджанского района
					| была объявлена зоной контртеррористической операции (КТО).
					| На место стали стягиваться силы всех силовых ведомств, расквартированных в области.
				+e.content-text
					| Несмотря на то, что и вооружённая группа, и силовики действовали
					| по одному учебному плану, операция имела все показатели боевой.
				+e.content-text
					| Для начала группа захвата с боем обезвредила террористов, а затем
					| в лесном массиве начались поиски их возможных подельников.
				+e.content-text
					| В суджанском небе летали вертолёты ФСБ, а по дорогам и бездорожью передвигалась
					| бронированная техника. Поиски дали результат. Северо-западнее Горнальского
					| Свято-Николаевского Белогорского мужского монастыря была обнаружена
					| и обезврежена вторая диверсионно-террористическая группа.
				+e.content-text
					| Лишь после этого рапорта руководитель учений отменил режим
					| КТО на южной территории Суджанского района Курской области.
				+e('img').content-img(src='assets/images/news/news_more1.jpg')
				+e('img').content-img(src='assets/images/news/news_more2.jpg')
			+e.content.js-content
				+e.content-description
					| Вчерашний день на территории Суджанского района
					| Курской области получился очень напряжённым.
					| Всё началось с того, что неподалёку от государственной
					| границы Российской Федерации, в посёлке
					| Гуево, на первом этаже недостроенного детского сада, полицейский обнаружил четырёх вооружённых мужчин
				+e.content-text
					| Практически сразу после необычайной находки южная часть Суджанского района
					| была объявлена зоной контртеррористической операции (КТО).
					| На место стали стягиваться силы всех силовых ведомств, расквартированных в области.
				+e.content-text
					| Несмотря на то, что и вооружённая группа, и силовики действовали
					| по одному учебному плану, операция имела все показатели боевой.
				+e.content-text
					| Для начала группа захвата с боем обезвредила террористов, а затем
					| в лесном массиве начались поиски их возможных подельников.
				+e.content-text
					| В суджанском небе летали вертолёты ФСБ, а по дорогам и бездорожью передвигалась
					| бронированная техника. Поиски дали результат. Северо-западнее Горнальского
					| Свято-Николаевского Белогорского мужского монастыря была обнаружена
					| и обезврежена вторая диверсионно-террористическая группа.
				+e.content-text
					| Лишь после этого рапорта руководитель учений отменил режим
					| КТО на южной территории Суджанского района Курской области.
				+e('img').content-img(src='assets/images/news/news_more1.jpg')
				+e('img').content-img(src='assets/images/news/news_more2.jpg')
			+e.content.js-content
				+e.content-description
					| Вчерашний день на территории Суджанского района
					| Курской области получился очень напряжённым.
					| Всё началось с того, что неподалёку от государственной
					| границы Российской Федерации, в посёлке
					| Гуево, на первом этаже недостроенного детского сада, полицейский обнаружил четырёх вооружённых мужчин
				+e.content-text
					| Практически сразу после необычайной находки южная часть Суджанского района
					| была объявлена зоной контртеррористической операции (КТО).
					| На место стали стягиваться силы всех силовых ведомств, расквартированных в области.
				+e.content-text
					| Несмотря на то, что и вооружённая группа, и силовики действовали
					| по одному учебному плану, операция имела все показатели боевой.
				+e.content-text
					| Для начала группа захвата с боем обезвредила террористов, а затем
					| в лесном массиве начались поиски их возможных подельников.
				+e.content-text
					| В суджанском небе летали вертолёты ФСБ, а по дорогам и бездорожью передвигалась
					| бронированная техника. Поиски дали результат. Северо-западнее Горнальского
					| Свято-Николаевского Белогорского мужского монастыря была обнаружена
					| и обезврежена вторая диверсионно-террористическая группа.
				+e.content-text
					| Лишь после этого рапорта руководитель учений отменил режим
					| КТО на южной территории Суджанского района Курской области.
				+e('img').content-img(src='assets/images/news/news_more1.jpg')
				+e('img').content-img(src='assets/images/news/news_more2.jpg')

