mixin main-slider()
	+b.main-slider
		+e.contacts
			+e('a').contacts-phone(href='tel: +7 4712588729')
				| +7 (4712)
				b &nbsp;58 87 29
			+e('a').contacts-email(href='jv0') sovet046@mail.ru
			+e.contacts-adress г. Курск, ул. Димитрова 91, оф1
		+e('h1').title Общественный совет депутатов города Курска
		+e.item#main-slider
			+e('img').img(src='assets/images/kursk1.jpg')
			+e('img').img(src='assets/images/kursk2.jpg')
			+e('img').img(src='assets/images/kursk3.jpg')
			+e('img').img(src='assets/images/kursk5.jpg')
			+e('img').img(src='assets/images/kursk5.jpg')
			+e('img').img(src='assets/images/kursk6.jpg')
			+e('img').img(src='assets/images/kursk7.jpg')
			+e('img').img(src='assets/images/kursk8.jpg')
