.main-slider
	position relative

	&__item
		height 470px
		overflow hidden

	&__title
		position absolute
		left 0
		top 37%
		z-index 10
		padding-left 10px
		max-width 510px
		font-size 45px
		color #fff
		text-transform uppercase
		font-weight 600
		line-height 1.2
		background-color #d76258

	&__contacts
		position absolute
		right 10px
		top 10px
		z-index 10

	&__contacts-phone
		font-size 20px
		font-weight 300
		text-decoration none
		color #000

		& b
			font-weight 500

	&__contacts-email
		padding 7px 0
		display block
		font-style italic
		text-decoration none
		color #000

	&__contacts-email
		font-size 14px

